{% extends "app/base.html" %}

{% block body %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ item.name }}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-10">
	<dl class="dl-horizontal">
	  <dt>Состояние:</dt>
	  <dd>{{ item.quality }}</dd>
	</dl>
	<dl class="dl-horizontal">
	  <dt>Где взять:</dt>
	  <dd>{{ item.location }}</dd>
	</dl>
	<dl class="dl-horizontal">
	  <dt>Владелец:</dt>
	  <dd><a href="/person/{{ item.owner.id }}">{{ item.owner.user.first_name }}</a></dd>
	</dl>
      </div>
    </div>
  </div>
</div>
{% endblock %}
